# Do not remove this line, otherwise mod_rewrite rules will stop working
RewriteBase /
Options +Includes 
AddType text/html .shtml
AddOutputFilter INCLUDES .shtml 
DirectoryIndex index.shtml index.html index.htm default.htm index.php index.pl 
